.control-button {
    display: block;
    width: 6em;
    height: 3em;
    border: 1px solid hsl(0, 0%, 80%);
    background-color: hsl(0, 15%, 10%);
    font-size: 1em;
    margin: 0 0 1em 1em;
    border-radius: 5px;
    letter-spacing: 1.5px;
    color:hsl(0, 0%, 80%);
}

.control-button:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 20%);
}
